img {
  max-width: 100%;
}
@font-face {
	font-family: 'Gilroy';
  src: url('../fonts/gilroy-bold.woff2') format('woff2'),
      url('../fonts/gilroy-bold.woff') format('woff');
      font-weight: bold;
      font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
  src: url('../fonts/gilroy-semibold.woff2') format('woff2'),
      url('../fonts/gilroy-semibold.woff') format('woff');
      font-weight: medium;
      font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
  src: url('../fonts/gilroy-regular.woff2') format('woff2'),
      url('../fonts/gilroy-regular.woff') format('woff');
      font-weight: normal;
      font-display: swap;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Gilroy', sans-serif;
}
ol,
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-nav {
  display: none;
}
.header-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .main-nav {
    display: flex;
  }
  .header-flex {
    justify-content: space-between;
  }
  .main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .main-nav__link {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-right: 13px;
    padding-left: 13px;
    font-weight: normal;
  }
}
.header-button {
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid #f7941e;
  color: #f7941e;
  border-radius: 5px;
  background: #fff;
  transition: 0.4s;
}
.header-button:hover {
  background: #f7941e;
  color: #fff;
}
.hero-section {
  background: #F1F1F2;
}
.main-title {
  text-align: center;
  font-style: medium;
  font-size: 32px;
  line-height: 50px;
}
.main-text {
  text-align: center;
  font-style: normal;
  font-size: 20px;
}
.medium-button {
  display: block;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 23px;
  padding-bottom: 23px;
  border: 1px solid #f7941e;
  color: #f7941e;
  border-radius: 5px;
  background: #fff;
  transition: 0.4s;
  margin: 50px auto;
}
.medium-button:hover {
  background: #f7941e;
  color: #fff;
}
.hero-col {
  justify-content: center;
  align-items: center;
}
.hero-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-element {
  
  justify-items: center;
}
.work-flex {
  justify-content: center;
  flex-direction: column-reverse;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .hero-flex {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .work-flex {
    width: 100%;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: nowrap;
  }
  .hero-col {
    justify-content: space-between;
    width: 50%;
  }
  .medium-button {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .main-text {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .image-thanks {
    min-width: 345px;
    padding-right: 50px;
    min-height: 300px;
  }
  .main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 42px;
    line-height: 60px;
  }
  .hero-section {
    padding-top: 70px;
    padding-bottom: 76px;
  }
}
@media screen and (min-width: 992px) {
  .main-title {
    margin-top: 30px;
    font-size: 50px;
    line-height: 65px;
  }
  .main-text {
    text-align: left;
    padding-top: 50px; 
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .main-title {
    margin-top: 0;
    font-size: 56px;
    line-height: 69px;
  }
  .main-text {
    margin: 0;
    text-align: left;
    padding-top: 36px; 
    padding-bottom: 52px;
  }
}
.main-title {
  font-style: medium;
}
.how-we-work {
  padding-top: 70px;
  background: #F1F1F2;
  padding-bottom: 100px;
}
.text-title {
  font-size: 20px;
  line-height: 35px;
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .text-title {
    font-size: 25px;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .text-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: left;
  }
  .col-element {
    max-width: 430px;
  }
  .work-flex {
    justify-content: space-between;
  }
  .how-we-work {
    justify-content: space-between;
  }
  .content-justify {
    text-align: justify;
    /* max-width: 340px; */
  }
  .hero-col {
    justify-content: space-between;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .text-title {
    font-size: 32px;
    line-height: 45px;
  }
}
.gift {
  padding-top: 100px;
}
.holidays {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.holidays-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.holidays-image {
  max-width: 270px;
  max-height: 270px;
}
.holidays-text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 75px;
}
.holidays-link {
  padding-bottom: 25px;
}
.text-center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .holidays {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.holidays-block:hover {
  box-shadow:10px 10px 23px 0px rgba(0,0,0,0.2);
}
.get-started {
  background: #f7941e;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.get-started-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.find-gift-now {
  background: #000;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 18px 25px;
  border-radius: 5px;
  border: 1px solid black;
  animation: radial-pulse 0.5s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: 18;
}
@keyframes radial-pulse {
  0% {
    box-shadow: inset 0 0 0 0px rgb(247, 148, 30);
  }
  100% {
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
.get-started-plain {
  display: inline-block
}
.how-it-works {
  margin-bottom: 20px;
  padding: 18px 18px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  text-transform: uppercase;
  background: transparent;
  align-items: center;
  flex-wrap: wrap;
}
.get-started-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.get-started-text {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .get-started {
    flex-direction: row;
    justify-content: space-between;
  }
  .get-started-buttons {
    padding-left: 150px;
  }
  .how-it-works,
  .find-gift-now {
    margin-top: 5px;
  }
  .get-started-title,
  .get-started-text {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .get-started-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 220px;
  }
  .get-started {
    justify-content: start;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .how-it-works,
  .find-gift-now {
    margin-left: 16px;
  }
}